<div class="header-grad-1"></div>
<div class="header-grad-2"></div>

<div class="cuvc-container" id="header" style="position:relative;z-index: 2;">
  <div class="pull-right social-header" style="z-index:3; position: absolute; right: 0;">
    
    <div style="vertical-align: baseline; float:left; margin-right: 20px; margin-left: 20px;">
      <a target="_blank" href="https://www.facebook.com/cuvolleyballclub">
      <img class="title" style="border: 1px solid white; margin-top: 2px; vertical-align: baseline" width="20px" src="/images/social_icons/facebook_transparent.png">
      </a>
    </div>

    <div style="vertical-align: baseline; float:left; margin-right: 20px;">
      <a target="_blank" href="https://www.instagram.com/uniofcamvolleyball/"><img class="title" style=" margin-top: 1px; vertical-align: baseline" width="24px" src="/images/social_icons/instagram_icon.png">
      </a>
    </div>

    <div style="float:left; margin-right: 20px; margin-left: 0px;">
      <a href="/contact.php" style="color: #fff"><i style="font-size: 22px;" class="glyphicon glyphicon-envelope"></i>
      </a>
    </div>

  </div>

  <img id="logo" src="/images/CUVC-logo.png">
  
  <a href="/"><h1 style="z-index: 2">   
    <span class="title title1">The official home of the<br></span>
    <span class="title title2">Cambridge University</span><br>
    <span class="title title2">Volleyball Club</span>
  </h1></a>
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<a class='navbar-brand' href='#'>Project name</a>-->
  </div>        
  
  <div style="clear:both"></div>
    
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/index.php">Home</a></li>
            <li><a href="/about.php">About CUVC</a></li>
            <li><a href="/teams.php">Teams</a></li>
            <li><a href="/prospective-players.php">Prospective Players</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact.php">Contact Us</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>   
</div>